@media screen and (max-width: 1015px) {
  .header-search {
    display: none;
    width: auto !important;
  }

  .header-login .subscribe {
    font-size: 12px !important;
    padding: 10px !important;
    margin-right: 5px !important;
  }

  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1016px) and (max-width:1140px) {
  .header-search {
    width: auto !important;
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .playlist-section-container {
    display: none;
  }

  .playlist {
    width: 100%; 
    height: auto; 
  }

  .sidebar {
    width: 342px;
  }

  .offer__list-item {
    grid-template-columns: 1fr;
  }

  .offer__scroll-container {
    overflow-y: visible;
  }

}